.App {
  font-family: 'BerkshireSwash-Regular', sans-serif;
  background-color: #f2f1ed;
  
}
html{
  background-color: #f2f1ed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Lato', sans-serif; */
}

.home,
.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
}
